{% extends "base.html" %}
{% block content %}
<section class="intro">
    <h2>Hi, I'm Nathaniel Aylsworth</h2>
    <p>Hi, I'm Nathaniel Aylsworth — a student who enjoys problem-solving, creating, and learning new things. I'm especially interested in design, coding, and projects that push me to think in new ways. I try to be focused, reliable, and open-minded, whether I'm working on something by myself or with others. I'm always looking to improve and explore ideas that help me grow. Thanks for taking the time to check out my portfolio.</p>
    
    <div class="page-buttons">
        <a href="/projects" class="btn">View Projects</a>
        <a href="/reading" class="btn">Reading List</a>
        <a href="/timeline" class="btn">My Timeline</a>
    </div>
</section>
{% endblock %}
